body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .articolo1espand {
    border: 1px solid #ccc;
    overflow: hidden;
    transition: height 0.3s ease;
  }
    
  .articolo2espand {
    border: 1px solid #ccc;
    overflow: hidden;
    transition: height 0.3s ease;
  }
  .articolo3espand {
    border: 1px solid #ccc;
    overflow: hidden;
    transition: height 0.3s ease;
  }
  
  .articolo4espand {
    border: 1px solid #ccc;
    overflow: hidden;
    transition: height 0.3s ease;
  }
  
  .expanded .content {
    padding: 20px;
  }
  
  .contenuto {
    padding: 0;
    height: 0;
    overflow: hidden;
  }
  
  .contenuto2 {
    padding: 0;
    height: 0;
    overflow: hidden;
  }
  .contenuto3{
    padding: 0;
    height: 0;
    overflow: hidden;
  }
  .contenuto4{
    padding: 0;
    height: 0;
    overflow: hidden;
  }

  .toggle-button {
    background-color: #f0f0f0;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .toggle-button2 {
    background-color: #f0f0f0;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .toggle-button3 {
    background-color: #f0f0f0;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .toggle-button4 {
    background-color: #f0f0f0;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .arrow {
    font-size: 24px;
    transition: transform 0.2s ease;
  }

  .arrow2 {
    font-size: 24px;
    transition: transform 0.2s ease;
  }
  .arrow3 {
    font-size: 24px;
    transition: transform 0.2s ease;
  }
  .arrow4 {
    font-size: 24px;
    transition: transform 0.2s ease;
  }